/* Reset de estilos para asegurar consistencia en todos los navegadores */
* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #85fbff49;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(havana.jpg);
    background-size: cover;
    background-position: 0px
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-color: #e668ff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(243, 26, 225, 0.39);
    text-align: center;
    width: 350px;
}

/* Estilos de los campos de entrada */
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e668ff;
    border-radius: 5px;
    font-size: 15px;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    border-color: #8e409e;
    outline: none;
}

/* Estilo del botón */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e668ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #8e409e
}

h2{
    text-align: center
}